.top {
	display: flex;
	height: 50vh;
	width: 100vw;
	background-color: #212121;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	animation: go_top 500ms forwards ease-in-out 500ms;
}

.bottom {
	height: 50vh;
	width: 100vw;
	background-color: #212121;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	animation: go_bottom 500ms forwards ease-in-out 500ms;
}

@keyframes go_top {
	0% {
		top: 0;
	}
	100% {
		top: -50%;
	}
}

@keyframes go_bottom {
	0% {
		bottom: 0;
	}
	100% {
		bottom: -50%;
	}
}
