.link {
	display: flex;
	position: absolute;
	top: calc(50% + 12rem);
	left: 10%;
	padding: 1rem 3rem;
	border: 2.5px solid white;
	border-radius: 0.2rem;
	text-decoration: none;
	color: white;
	background-color: transparent;
	font-family: 'Gilroy-Medium', sans-serif;
	z-index: 3;
	opacity: 0;
	transition: box-shadow 300ms linear;
	animation: pop_up 600ms linear forwards 2100ms;
}

.link:hover {
	cursor: pointer;
	box-shadow: 3px 5px 0.7rem white;
	transition: box-shadow 200ms linear;
}

@keyframes pop_up {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
