.menu {
	display: flex;
	height: 2.5rem;
	width: 2.5rem;
	background-color: transparent;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 10%;
	left: 10%;
	padding: 0.2rem;
	z-index: 3;
}
