.bar_c {
	display: flex;
	position: absolute;
	/* background-color: red; */
	width: calc(70% + 1rem);
	top: 50%;
	right: -10rem;
	align-items: center;
	opacity: 0;
	z-index: 3;
	animation: come_in 1000ms cubic-bezier(0, 0.35, 0.43, 0.99) forwards 600ms;
}
.bar {
	height: 0.03rem;
	background-color: white;
	width: 100%;
}

.circle {
	height: 1rem;
	width: 1rem;
	border-radius: 25px;
	background-color: white;
}

@keyframes come_in {
	0% {
		opacity: 0;
		transform: translateX(170%);
	}
	100% {
		opacity: 1;
		transfrom: translateX(40%);
	}
}
