.title_c {
	display: flex;
	position: absolute;
	flex-direction: column;
	/* background-color: white; */
	top: 23%;
	left: 10%;
	opacity: 0;
	animation: slow_push 500ms forwards ease-out 1200ms;
	z-index: 3;
}

.title {
	font-size: 4rem;
	font-family: 'Helvetica Neue';
	color: white;
}

.subtitle {
	font-size: 2.5rem;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Gilroy-Light';
	font-weight: 400;
}

.slogan_c {
	display: flex;
	position: absolute;
	top: calc(50% + 4rem);
	left: 10%;
	width: 70%;
	/* background-color: white; */
	opacity: 0;
	z-index: 3;
	animation: slow_push 500ms forwards ease-in 1600ms;
}

.slogan {
	color: rgb(228, 222, 222);
	font-family: 'Gilroy-Regular', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 1.3rem;
}

@keyframes slow_push {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(-10%);
	}
}
